@{
    ViewData["Title"] = "Home Page";
}
@using AmlexWEB.Models.User
@model UserModel
<div class="text-center">
    <div>   
        <h1>Личный кабинет</h1>
        <p>@Model.UserName | @Model.SteamID | Баланс: @Model.Balance</p>
    </div>
</div>
