@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div>
        @if (User?.Identity?.IsAuthenticated == false)
        {
            <form asp-action="SignIn" asp-controller="Auth" method="post">
                <input type="hidden" name="Provider" value="Steam" />
                <button class="btn btn-lg btn-success m-1" type="submit">Connect using Steam</button>
            </form>
        }
        else
        {
            <h1>Hello</h1>
            @User?.Claims.ElementAt(0)?.Value
            <form asp-action="SignOutUser" asp-controller="Auth" method="post">
                <button class="btn btn-lg btn-success m-1" type="submit">Logout</button>
            </form>
        }
    </div>
</div>
